<h2>My People</h2>
 
<div>
  <label>Person name:
    <input #personName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(personName.value); personName.value=''">
    add
  </button>
</div>
 
<ul class="people">
  <li *ngFor="let person of people">
    <a routerLink="/detail/{{person.name}}">
      <span class="badge">{{person.id}}</span> {{person.name}}
    </a>
    <button class="delete" title="delete person"
    (click)="delete(person)">x</button>
  </li>
</ul>